* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cabin', sans-serif;
    background-color: #EEEEEF;
    position: relative;
}

header {
    top: 0px;
    width: 100%;
    position: sticky;
    z-index: 1;
}

.header-container {
    background-color: #10BBD5;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 52px;
}

.header-logo {
    height: 29px;
    width: 136px;
}

.header-bin {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.header-bin span {
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.header-bin button {
    width: 40px;
    height: 40px;
    border: none;
    background: none;
}

.header-nav {
    background-color: #FFFFFF;
    padding: 4px 52px;
    display: flex;
    justify-content: space-between;
}

.nav-right {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

li {
    list-style-type: none;
}

.nav-li-item {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

main {
    /* position: relative; */
    padding-top: 32px;
}

.main-container {
    margin-top: 24px;
}

.button-chat {
    height: 64px;
    width: 64px;
    background-color: #10BBD5;
    border: none;
    border-radius: 100%;
    position: fixed;
    top: 50%;
    right: 28px;
    z-index: 1;
}

.button-chat:hover {
    transform: rotate(12.05deg)
}

.main-title {
    margin: 0px 52px;
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    border-bottom: 1px solid #A8A8A8;
}

.main-title h2 {
    margin-bottom: 23px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    /* width: 1296px; */
    margin: 0px 52px 32px 52px;
}

.card-item {
    background-color: #F8FDFE;
    border: 1px solid #A8A8A8;
    text-align: center;
    box-sizing: border-box;
    width: 306px;
    height: 512px;
    padding: 32px;
    position: relative;
}

.card-chips {
    position: absolute;
    display: flex;
    gap: 4px;
    top: 32px;
    left: 32px;
}

.chips-hit,
.chips-discount, 
.chips-new {
    background-color: #4200FF;
    max-width: 36px;
    max-height: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 4px 8px;
    border-radius: 4px;
    color: #F8FDFE;
}

.chips-discount {
    background-color: #EA33C0;
    max-width: 70px;
}

.chips-new {
    background-color: #AF39E7;
    max-width: 47px;
}


.card-item img {
    height: 178px;
    height: 280px;
}

h3 {
    color: #1F1F1F;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    border-bottom: 1px solid #A8A8A8;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

h4 {
    color: #8E8E8E;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.card-title {
    margin-top: 16px;
    text-align: left;
}

.card-title-price {
    margin-top: 8px;
    display: flex;
    gap: 24px;
}

.actual-price {
    color: #E90000;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.unactual-price {
    color: #8E8E8E;
    text-decoration: line-through;
    text-decoration-thickness: 1px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}

.card-button-add,
.card-button-end {
    background-color: #4C394E;
    margin-top: 16px;
    min-width: 242px;
    min-height: 40px;
    padding: 8px 0px;
    border-radius: 4px;
    border: none;
    color: #F8FDFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.card-button-end {
    background-color: #4D762D;
}

.card-button-add:hover {
    background-color: #744978;
}

.card-button-end:hover {
    background-color: #6DB236;
}

footer {
    margin-top: 120px;
    background-color: #4C394E;
    padding: 32px 52px;
}

.footer-text {
    display: flex;
    justify-content: space-between;
}

.footer-text span {
    color: #F8FDFE;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}